server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/authors_db
    username: authors_user
    password: authors_pass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
